* {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(47, 47, 47);
}

nav {
    position: sticky;
    top: 0;
    z-index: 100;
    background: white;
    width: 100%;
}

.nav-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 74px;
    width: 100vw;
    max-width: 1680px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    line-height: 10px;
}

.nav-logo {
    position: relative;
    left: -4%;
}

.nav-top .nav-search-bar {
    width: 22%;
    height: 1.8rem;
}

.nav-top img {
    width: 250px;
    max-width: 445px;
    max-height: 40px;
    height: auto;
}

.nav-top .nav-profile-cart {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 17%;
    height: 26px;
    padding-right: 20px;
}

.nav-profile-cart .nav-orders-signin {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1em;
    font-size: 13px;
    gap: 0.3em;
    cursor: pointer;
    text-decoration: none;
}

.nav-orders-signin .fa-user {
    display: flex;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
}

.nav-cart-items {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    gap: 0.3em;
    cursor: pointer;
    text-decoration: none;
}

.nav-cart-items p {
    font-size: 13px;
}

.nav-menu-cover {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu-cover .nav-bottom {
    display: flex;
    justify-content: space-around;
    max-width: 1680px;
    width: 80%;
}

.nav-bottom a {
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    color: #010101;
    letter-spacing: 0.2px;
    line-height: 36px;
    text-transform: capitalize;
    cursor: pointer;
    margin-bottom: 2px;
}

.nav-bottom a:hover {
    border-bottom: 1px black solid;
}

.nav-promo {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 50px;
    text-align: center;
    margin: 0;
    background-color: #e6e3de;
    font-size: 11px;
    text-decoration: none;

}

.nav-promo p {
    width: 50%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.nav-promo>p {
    border-right: 1px grey solid;
}

.active-navlink {
    border-bottom: 2px black solid;
}

.profile-drop-down {
    height: auto;
    width: 200px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 36px;
    right: 8%;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 10;
    box-sizing: border-box;
    padding: 10px 20px 10px 20px;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    border-top: 2px solid rgb(1, 1, 1);
    display: none;
}

.nav-profile:hover .profile-drop-down,
.profile-drop-down:hover {
    display: block;
}

.profile-drop-down ul {
    border-top: 10px solid rgb(1, 1, 1);
}

.profile-drop-down li {
    list-style-type: none;
}

.profile-drop-down li:hover {
    background-color: rgb(245, 243, 235);
    border-radius: 5px;
}

.profile-drop-down li a,
.profile-drop-down li button {
    text-decoration: none;
    background-color: transparent;
    border: none;
    font-size: 13px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    line-height: 40px;
}

.profile-drop-down li button {
    padding: 0px;
}

.cart-drop-down {
    height: auto;
    width: 300px;
    flex-direction: column;
    position: absolute;
    top: 54px;
    right: 0%;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 10;
    box-sizing: border-box;
    padding: 10px 20px 10px 20px;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    border-top: 2px solid rgb(1, 1, 1);
    display: none;
}

.nav-cart:hover .cart-drop-down,
.cart-drop-down:hover {
    display: block;
}

.cart-drop-down-item-count p {
    font-size: 14px;
    font-weight: bold;
}

.cart-drop-down-item-list {
    display: flex;
    flex-direction: column;
}

.cart-drop-down-item-list a.cart-drop-down-ind-item {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cart-drop-down-item-list a.cart-drop-down-ind-item img {
    height: auto;
    width: 50px;
}

.cart-drop-down-item-info {
    font-size: 11px;
    margin: 0 5px 0 10px;
    width: 195px;
}

.cart-drop-down-item-info>p {
    margin: 5px 0 0 0;
    overflow-wrap: anywhere;
}

.cart-drop-down-item-info>p:hover {
    text-decoration: underline;
}

.cart-drop-down-item-qty-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    font-size: 12px;
}

.cart-drop-down-view-cart a {
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
    margin-top: 15px;
}

.cart-drop-down-view-cart a:hover {
    text-decoration: underline;
}

.cart-drop-down-subtotal {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: bold;
    justify-content: space-between;
    margin-top: 15px;
    border-top: 2px solid rgb(1, 1, 1);
}

a.cart-drop-down-view-cart {
    width: 100%;
    height: 35px;
    text-decoration: none;
    cursor: pointer;
}

.cart-drop-down-view-cart-btn {
    width: 100%;
    height: 35px;
    background-color: black;
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
